*
{
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box;
}

a 
{
  font-size: 18px;
  text-decoration: none;
}

#menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  list-style: none;
}

#menu ul li a
{
  display: block;
  color: rgb(74, 124, 112);  
  padding: 10px 25px;
  border-radius: 25px;
}

#menu ul li a:hover
{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 1s;
}

#navbar
{
	width: 100%;
  height: 80px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 242, 242);
  position: relative;
  z-index: 2;
}

#search
{
  margin: 10px;
  border-radius: 25px;
}

#search input
{
  border-radius: 15px;
}

#search button
{
  width: 65px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 25px;
  color: white;
}

#search button:hover
{
  background-color: rgb(247, 195, 195);
  transition: 1.5s;
}

#logo
{
  width: 120px;
  height: 100%;
  overflow: hidden;
  background-color: aquamarine;
}

#logo a img
{
  width: 100%;
  height: 80px;
}

.bars
{
  display: block;
}

.container-menu
{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin-top: 45px;
}

.cont-menu
{
  width: 20%;
  max-width: 250px;
  height: 100vh;
  position: relative;
  background-color: rgb(247, 242, 242);
  position: fixed;
}

.cont-menu nav a
{
  display: block;
  margin-bottom: 15px;
  padding: 25px;
  color: rgb(74, 124, 112);
  border-bottom: #000000 1.5px solid;
}


.cont-menu nav a:hover
{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 1s;
}


.trycontainer
{
  display: flex;
  background-color: rgb(247, 242, 242);
  width: 1100px;
  height: 800px;
  border: 2px solid;
  margin: 0 auto;
  position: relative;
  top: 110px;
}

.containertext
{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid;
  flex: 1;
  overflow: hidden;
  justify-content: center;
}

#textarea
{  
  width: 90%;
  height: 750px;
  margin: 18px 0;
  resize: none;
  color: rgb(74, 124, 112);
  font-size: 20px;
  font-weight:bold;
}

.containerresult
{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  background-color: rgb(247, 242, 242);
}

#resultarea
{
  width: 90%;
  height: 750px;
  margin: 18px 0;
  resize: none;
  font-size: 20px;
  font-weight:bold;
  background-color: white;
}

.tittles
{
  display: flex;
  width: 900px;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  top: 100px;
  margin-bottom: 10px;
}


@media(max-width: 900px)
{
  #navbar
  {
    padding: 0px 30px;
  }

  #menu 
  {
    height: 0px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
  }

  .bars
  {
    display: block;
    cursor: pointer;
  }

  .bars .line
  {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0px;
  }

  #navbar .active
  {
    height: 370px;
    background-color: rgb(94, 76, 76);
  }

  #navbar ul
  {
    display: block;
    width: fit-content;
    margin: 30px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  #navbar .active ul
  {
    opacity: 1;
  }

  #navbar .active ul li a
  {
    margin-bottom: 30px;
    color: white;
  }

  #search input
  {
    height: 30px;
  }

  .cont-menu nav a
  {
    margin-bottom: 10px;
    padding: 28px;
    font-size: 16px;
  }

  .trycontainer
  {
    background-color: rgb(247, 242, 242);
    width: 800px;
    height: 700px;
  }

  #textarea
  {  
    width: 90%;
    height: 650px;
    font-size: 16px;
  }

  #resultarea
  {
    height: 650px;
    margin: 18px 0;
    font-size: 16px;
  }

}

@media(max-width: 768px)
{
  .cont-menu nav a
  {
    padding: 26px;
    font-size: 15px;
  }
}
